*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.titulo h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 45px;
    color: #ccc;
    margin: 2rem;
}
.titulo{
    background-color: #000;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1vw;
    padding: 0 2vw;
}

.galeria{
    width: 340px;
    height: 340px;
    border: 10px solid #FFF;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}
.galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*.galeria:hover{
    transform: scale(1.3);
}*/
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f2f2;
    font-style: italic;
}
#ft1{
    height: 100%;
}
#ft1{
    object-fit: cover;
}

